.auth-container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eef2ff;
}

.auth-card{
    width:400px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.auth-card h2{
    text-align:center;
    margin-bottom:20px;
}

.auth-card input{
    width:100%;
    margin:10px 0;
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
}

.auth-card button{
    width:100%;
    margin-top:15px;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
}

.auth-card p{
    margin-top:15px;
    text-align:center;
}