.profile-container{

    flex:1;

    padding:40px;

}


.profile-card{

    background:white;

    width:400px;

    padding:30px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);

}


.profile-card p{

    margin:15px 0;

    font-size:18px;

}